src/main/resources/xsd/pokemon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://localhost:8080/pokeapi/soap"
           targetNamespace="http://localhost:8080/pokeapi/soap"
           elementFormDefault="qualified">

    <!-- getId -->
    <xs:element name="getIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- getName -->
    <xs:element name="getNameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getNameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- getBaseExperience -->
    <xs:element name="getBaseExperienceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getBaseExperienceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="baseExperience" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- getHeight -->
    <xs:element name="getHeightRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getHeightResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="height" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- getAbilityNames -->
    <xs:element name="getAbilityNamesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getAbilityNamesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="abilities" type="tns:abilities"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="abilities">
        <xs:sequence>
            <xs:element name="ability" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- getStatBaseValues -->
    <xs:element name="getStatBaseValuesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getStatBaseValuesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="stats" type="tns:stats"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="stats">
        <xs:sequence>
            <xs:element name="baseStat" type="xs:int" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>