src/main/resources/xsd/pokemon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.pokegateway.com/soap/gen"
           targetNamespace="http://www.pokegateway.com/soap/gen"
           elementFormDefault="qualified">

    <xs:element name="getIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getNameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getNameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getBaseExperienceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getBaseExperienceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="base_experience" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getHeightRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getHeightResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="height" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAbilityNamesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getAbilityNamesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="abilities" type="tns:abilities"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getStatBaseValuesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getStatBaseValuesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="base_experience" type="tns:stats"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getHeldItemsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getHeldItemsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="held_items" type="tns:heldItems"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getLocationAreaEncountersRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getLocationAreaEncountersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="location_area_encounters" type="tns:locationAreas"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="abilities">
        <xs:sequence>
            <xs:element name="ability" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="stats">
        <xs:sequence>
            <xs:element name="base_stat" type="xs:int" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="heldItems">
        <xs:sequence>
            <xs:element name="held_item" type="tns:heldItem" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="heldItem">
        <xs:sequence>
            <xs:element name="item" type="tns:item"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="item">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="url" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- New complex type to represent a list of location areas returned by the PokeAPI encounter endpoint -->
    <xs:complexType name="locationAreas">
        <xs:sequence>
            <xs:element name="location_area" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="url" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>